outputs_\[oz_full.txt\]/ontology_typing/all \[narrative_entity_ontology_clean\]/ontology_evidence_cluster_157_the_son_of_a_woodman_who_chopped_down_trees_in_the_forest_and_sold_the_wood_for_a_living_all.jsonl
outputs_\[oz_full.txt\]/ontology_typing/all/ontology_evidence_cluster_157_the_son_of_a_woodman_who_chopped_down_trees_in_the_forest_and_sold_the_wood_for_a_living_all.jsonl
outputs/ontology_typing/all/ontology_evidence_cluster_157_the_son_of_a_woodman_who_chopped_down_trees_in_the_forest_and_sold_the_wood_for_a_living_all.jsonl
outputs/ontology_typing/all \[narrative_entity_ontology_clean\]/ontology_evidence_cluster_157_the_son_of_a_woodman_who_chopped_down_trees_in_the_forest_and_sold_the_wood_for_a_living_all.jsonl
outputs/ontology_typing/all/ontology_evidence_cluster_157_the_son_of_a_woodman_who_chopped_down_trees_in_the_forest_and_sold_the_wood_for_a_living_all.jsonl
outputs_\[avalon_full.txt\]/tokenized_doc.pkl
